@using AvaNet.Models.ViewModels.AccountViewModels
@inject UserManager<ApplicationUser> UserManager
@model ProfileViewModel

<div>
    <div id="profilePageTitle">Profile Summary</div>
    <hr />
    <div class="profilePageAttributesPanel">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="profilePageAttributeLabels">
                    Game User Id:
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="profilePageAttributes">
                    @Model.GameUserID
                </div>
            </div>
        </div>
    </div>
    @if (Model.Privileges.Count>0)
    {
        <div class="profilePageAttributesPanel">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="profilePageAttributeLabels">
                        Privileges:
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="profilePageAttributes">
                        @Model.Privileges.First()
                    </div>
                </div>
            </div>
        </div>
    }
    @if (UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Administrator").Result)
    {
        <div class="profilePageAttributesPanel">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="profilePageAttributeLabels">
                        <a asp-controller="Account" asp-route-id="@Model.UserID" asp-action="Ban">Ban User</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
