@model AvaNet.Models.ForumTopic

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@foreach (var item in Model.ForumThreads)
{
    <div>
        @Html.DisplayFor(modelItem => item.Title)
    </div>
}
