@model AvaNet.Models.ForumTopic

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@foreach (ForumThread item in Model.ForumThreads)
{
    <div>
        @Html.DisplayFor(modelItem => item.Title)
        <a asp-action="Index" asp-route-id="@item.ForumThreadID" asp-controller="ForumThreads">Link</a>
</div>
}
