@model IEnumerable<AvaNet.Models.ForumTopic>

<div id="forumTopicsJumbotron">
    <div id="forumTopicsJumbotronGap"></div>
    <div id="forumTopicsTitle">Welcome to the AvaNet forums</div>
</div>

<div class="gapOne"></div>

<div id="forumTopicsWrapper">
    @foreach (var item in Model)
    {
        <div class="forumTopicPanel">
            <a asp-controller="ForumThreads" asp-action="Index" asp-route-id="@item.ForumTopicID">
                <div class="forumTopicTitle">@Html.DisplayFor(modelItem => item.Title)</div>
            </a>
            <div class="forumTopicDescription">@Html.DisplayFor(modelItem => item.Description)</div>
        </div>
        <div class="gapThree"></div>
    }
</div>