@model IndexViewModel

@inject UserManager<ApplicationUser> UserManager

<div>
    <div id="profilePageTitle">Profile Summary</div>
    <hr />
    <div class="profilePageAttributesPanel">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="profilePageAttributeLabels">
                    Username:
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="profilePageAttributes">
                    @Model.User.UserName
                </div>
            </div>
        </div>
    </div>
    <div class="profilePageAttributesPanel">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="profilePageAttributeLabels">
                    Game User Id:
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="profilePageAttributes">
                    @Model.User.GameUserID
                </div>
            </div>
        </div>
    </div>
    @if (UserManager.IsInRoleAsync(Model.User, "Administrator").Result)
    {
        <div class="profilePageAttributesPanel">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="profilePageAttributeLabels">
                        Privileges:
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="profilePageAttributes">
                        Administrator
                    </div>
                </div>
            </div>
        </div>
    }
    @if (UserManager.IsInRoleAsync(Model.User, "Moderator").Result)
    {
        <div class="profilePageAttributesPanel">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="profilePageAttributeLabels">
                        Privileges:
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="profilePageAttributes">
                        Moderator
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="profilePageAttributesPanel">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="profilePageAttributeLabels">
                    Password:
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="profilePageAttributes">
                    @if (Model.HasPassword)
                    {
                        <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
                    }
                    else
                    {
                        <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
