@keyframes loadingAnimation {
    0% {
        transform: rotateZ(0deg);
        height: 35%;
        width: 35%;
    }
    5% {
        transform: rotateZ(0deg);
        height: 40%;
        width: 40%;
    }
    10% {
        transform: rotateZ(0deg);
        height: 35%;
        width: 35%;
    }
    20% {
        transform: rotateZ(90deg);
    }
    40% {
        transform: rotateZ(180deg);
    }
    50% {
        transform: rotateZ(180deg);
        height: 35%;
        width: 35%;
    }
    55% {
        transform: rotateZ(180deg);
        height: 40%;
        width: 40%;
    }
    60% {
        transform: rotateZ(180deg);
        height: 35%;
        width: 35%;
    }
    70% {
        transform: rotateZ(270deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes activateAnimationPart1 {
    0% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(90deg);
        display: none;
    }
}

@keyframes activateAnimationPart2 {
    0% {
        transform: rotateY(90deg);
        display: inline;
    }
    99% {
        transform: rotateY(1deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes activateAnimationPart3 {
    0% {
        transform: rotateY(90deg);
        display: inline;
    }
    79% {
        transform: rotateY(1deg);
    }
    80% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(25deg);
    }
}

@keyframes activateAnimationPart4 {
    0% {
        transform: rotateY(90deg);
        display: inline;
    }
    79% {
        transform: rotateY(1deg);
    }
    80% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-25deg);
    }
}

@keyframes activateAnimationPart5 {
    0% {
        transform: rotateY(90deg);
        display: inline;
    }
    79% {
        transform: rotateY(1deg);
    }
    80% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(15deg);
    }
}

@keyframes activateAnimationPart6 {
    0% {
        transform: rotateY(90deg);
        display: inline;
    }
    79% {
        transform: rotateY(1deg);
    }
    80% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(-15deg);
    }
}

@keyframes tiltClockwise {
    100% {
        transform: rotateY(20deg);
    }
}

@keyframes tiltAntiClockwise {
    100% {
        transform: rotateY(-20deg);
    }
}