.button1 {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.button1:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
}

.card {
    width: 100%;
    height: 400px;
}

.cardBack {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15;
    right: 15;
    background-color: black;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(126, 0, 0, 0.65);
    transform: rotateY(180deg);
}

.cardFront {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15;
    right: 15;
}

.card.loading .cardBack {
    display: inline;
}

.card.loading .cardFront {
    display: none;
}

#loginRegisterRow .cardFront {
    background-color: black;
}

#loginRegisterRow .card.activate .cardBack {
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#loginRegisterRow .card.activate .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 0.7s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#loginRegisterRow .subTitle {
    color: white;
    font-size: 2.2em;
}

#loginRegisterRow .item {
    width: 90%;
    margin: auto;
    margin-top: 10px;
}

#loginRegisterRow .item div {
    width: 40%;
    padding-left: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

#loginRegisterRow .item input {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 1);
}

#loginRegisterRow .item2 {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#loginRegisterRow .item2 .button1 {
    width: 50%;
    height: 50px;
    line-height: 50px;
    margin-left: 25%;
    margin-bottom: 10px;
}

.gap1 {
    margin-top: 50px;
}

#loginForm .gap1 {
    margin-top: 30px;
}

#titleRow .card {
    height: 150px;
}

#titleRow .cardBack {
    -webkit-box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.6);
    box-shadow: 5px 5px 1px 0px rgba(0,0,0,0.6);
}

#titleRow .cardFront {
    font-size: 7em;
    text-align: center;
    color: black;
    -webkit-box-shadow: -5px 5px 1px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -5px 5px 1px 0px rgba(0,0,0,0.6);
    box-shadow: -5px 5px 1px 0px rgba(0,0,0,0.6);
}

@media (max-width: 500px){
    #titleRow .cardFront {
        font-size: 50px;
        line-height: 150px;
    }
}

#title1 .cardBack {
    animation-name: activateAnimationPart1;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title1 .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 0.4s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title2 .cardBack {
    animation-name: activateAnimationPart1;
    animation-delay: 0.4s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title2 .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 0.8s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title3 .cardBack {
    animation-name: activateAnimationPart1;
    animation-delay: 0.8s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title3 .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 1.2s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title4 .cardBack {
    animation-name: activateAnimationPart1;
    animation-delay: 1.2s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title4 .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 1.6s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title5 .cardBack {
    animation-name: activateAnimationPart1;
    animation-delay: 1.6s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title5 .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 2s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title6 .cardBack {
    animation-name: activateAnimationPart1;
    animation-delay: 2s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title6 .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 2.4s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title7 .cardBack {
    animation-name: activateAnimationPart1;
    animation-delay: 2.4s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title7 .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 2.8s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title8 .cardBack {
    animation-name: activateAnimationPart1;
    animation-delay: 2.8s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title8 .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 3.2s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title9 .cardBack {
    animation-name: activateAnimationPart1;
    animation-delay: 3.2s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#title9 .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 3.6s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

#alertMessagePanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

#alertMessagePanel .card {
    width: 40%;
    height: 30%;
    margin: auto;
    margin-top: 20%;
}

#alertMessagePanel .cardFront {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 30%;
    margin: auto;
    margin-top: 20%;
    background-color: rgba(255, 255, 255, 0.15);
}

#alertMessagePanel .cardBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 30%;
    margin: auto;
    margin-top: 20%;
}

#alertMessagePanel .card.activate .cardBack {
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#alertMessagePanel .card.activate .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 0.7s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#alertMessagePanel .cardFront .subTitle {
    height: 20%;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

#alertMessagePanel .cardFront .panel {
    height: 60%;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
    padding: 10 10 10 10;
    color: rgba(255, 255, 255, 0.65);
}

#alertMessagePanel .cardFront .button1 {
    background-color: rgba(255, 255, 255, 0.55);
    padding-top: 1%;
    height: 20%;
    color: white;
    width: 70%;
    margin-left: 15%;
}

#alertMessagePanel .cardFront .button1:hover {
    background-color: rgba(255, 255, 255, 0.25);
}