#socialPanel {
    width: 100%;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 50px;
}

#socialPanel #chatRoomsCard {
    float: left;
    width: 35%;
    height: 500px;
    position: relative;
    -webkit-perspective: 1000px; /* Safari 4-8 */
    perspective: 1000px;
}

@media(max-width: 950px) {
    #socialPanel #chatRoomsCard {
        width: 90%;
        margin-left: 5%;
        height: 330px;
    }
}

#socialPanel #chatRoomsCard .cardFront {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 12px 12px 12px 12px;
    height: 500px;
    display: none;
}

#socialPanel #chatRoomsCard .cardBack {
    height: 500px;
}

#socialPanel #chatRoomsCard.activate > .cardBack {
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#socialPanel #chatRoomsCard.activate > .cardFront {
    transform: rotateY(90deg);
    display: inline;
    animation-name: activateAnimationPart3;
    animation-delay: 0.7s;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
}

#socialPanel #playersCard {
    width: 25%;
    height: 500px;
    position: relative;
    float: left;
    -webkit-perspective: 2000px; /* Safari 4-8 */
    perspective: 2000px;
}

@media(max-width: 950px) {
    #socialPanel #playersCard {
        width: 50%;
        margin-top: 230px;
        height: 260px;
        -webkit-perspective: 1000px; /* Safari 4-8 */
        perspective: 1000px;
    }
}

#socialPanel #playersCard .cardFront {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 12px 12px 12px 12px;
    height: 500px;
    display: none;
}

#socialPanel #playersCard .cardBack {
    height: 500px;
}

#socialPanel #playersCard.activate > .cardBack {
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#socialPanel #playersCard.activate > .cardFront {
    transform: rotateY(90deg);
    display: inline;
    animation-name: activateAnimationPart2;
    animation-delay: 0.7s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@media(max-width: 950px) {
    #socialPanel #playersCard.activate > .cardFront {
        transform: rotateY(90deg);
        display: inline;
        animation-name: activateAnimationPart4;
        animation-delay: 0.7s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

#socialPanel #profileCard {
    width: 40%;
    height: 500px;
    position: relative;
    float: left;
    -webkit-perspective: 1000px; /* Safari 4-8 */
    perspective: 1000px;
}

@media(max-width: 950px) {
    #socialPanel #profileCard {
        width: 90%;
        margin-left: 5%;
        margin-top: 300px;
    }
}

#socialPanel #profileCard .cardFront {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 12px 12px 12px 12px;
    height: 500px;
    display: none;
}

#socialPanel #profileCard .cardBack {
    height: 500px;
}

#socialPanel #profileCard.activate > .cardBack {
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#socialPanel #profileCard.activate > .cardFront {
    transform: rotateY(90deg);
    display: inline;
    animation-name: activateAnimationPart4;
    animation-delay: 0.7s;
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
}

@media(max-width: 950px) {
    #socialPanel #profileCard.activate > .cardFront {
        transform: rotateY(90deg);
        display: inline;
        animation-name: activateAnimationPart3;
        animation-delay: 0.7s;
        animation-duration: 1.3s;
        animation-fill-mode: forwards;
    }
}

#socialPanel .panel1 {
    display: inline-block;
    width: 100%;
}

@media (max-width: 600px) {
    #socialPanel .panel1 .subTitle {
        font-size: 1.3em;
    }

    #socialPanel .panel1 .button1 {
        margin-left: 0px;
    }
}

#socialPanel .panel1 .subTitle {
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 3px;
    font-size: 1.3em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(255, 255, 255, 0.7);
}

#socialPanel .panel1 .button1 {
    height: 50px;
    float: left;
    line-height: 50px;
    margin-left: 27px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
}

#socialPanel .panel1 .button1:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#socialPanel .panel2 {
    display: inline-block;
    width: 100%;
}

#chatRoomsPanel {
    width: 100%;
    height: 430px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow-y: scroll;
}

#chatRoomsPanel .item {
    display: inline-block;
    height: 50px;
    line-height: 60px;
    width: 100%;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

#chatRoomsPanel .item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

#chatRoomsPanel .item div {
    float: left;
    margin-right: 10px;
}

#onlinePlayersPanel {
    width: 100%;
    padding-left: 5px;
    overflow-y: scroll;
    height: 430px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.1em;
}

#chatsNavbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: inline-block;
    height: 8%;
    overflow-x: scroll;
}

#chatsNavbar .item  {
    float: left;
    height: 100%;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.2em;
    padding-top: 5px;
    width: 20%;
    text-align: center;
    background-color: rgba(168, 168, 168, 0.96);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(84, 84, 84, 0.8);
}

#chatsNavbar .item:hover {
    cursor: pointer;
    background-color: rgba(72, 72, 72, 0.8);
}

#currentChatsPanel .card {
    width: 42%;
    position: fixed;
    bottom: 9%;
    height: 50%;
    display: none;
}

#currentChatsPanel .cardFront {
    background-color: rgba(168, 168, 168, 0.85);
    padding: 12px 12px 12px 12px;
    display: none;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(168, 168, 168, 0.96);
}

#currentChatsPanel .cardBack {
    display: none;
}

#currentChatsPanel .card.activate {
    display: inline;
}

#currentChatsPanel .card.activate > .cardBack {
    display: inline;
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#currentChatsPanel .card.activate > .cardFront {
    transform: rotateY(90deg);
    display: inline;
    animation-name: activateAnimationPart2;
    animation-delay: 0.7s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#currentChatsPanel .card.deactivate > .cardBack {
    display: inline;
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#currentChatsPanel .card.deactivate  {
    display: inline;
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#currentChatsPanel .card.deactivate > .cardFront {
    display: none;
}

#currentChatsPanel .panel1 {
    height: 14%;
    width: 100%;
}

#currentChatsPanel .panel1 .subTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.95);
}

#currentChatsPanel .panel2 {
    height: 76%;
    width: 100%;
    display: inline-block;
}

#currentChatsPanel .panel2 .item1 {
    float: left;
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.6);
}

#currentChatsPanel .panel2 .item1 > div {
    width: 100%;
    display: inline-block;
}

#currentChatsPanel .panel2 .item1 > div .itemLabel1 {
    float: left;
}

#currentChatsPanel .panel2 .item1 > div .itemLabel2 {
    padding-left: 6px;
    float: left;
}

#currentChatsPanel .panel2 .item2 {
    float: left;
    width: 28%;
    height: 100%;
    margin-left: 2%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.6);
}

#currentChatsPanel .panel3 {
    height: 10%;
    display: inline-block;
    width: 100%;
}

#currentChatsPanel .panel3 input {
    float: left;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.6);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 1);
    height: 100%;
}

#currentChatsPanel .panel3 .button1 {
    float: left;
    height: 100%;
    width: 30%;
    padding-top: 2px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 1);
}

#currentChatsPanel .panel3 .button1:hover {
    background-color: rgba(84, 84, 84, 0.8);
}