#socialPanel {
    width: 100%;
    height: 500px;
}

#socialPanel .card {
    width: 100%;
    height: 500px;
}

#socialPanel .cardFront {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 12px 12px 12px 12px;
    height: 500px;
}

#socialPanel .cardBack {
    height: 500px;
}

#socialPanel .card.activate > .cardBack {
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#socialPanel .card.activate > .cardFront {
    transform: rotateY(90deg);
    animation-name: activateAnimationPart2;
    animation-delay: 0.7s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}