#socialPanel {
    width: 95%;
    overflow: hidden;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

@media(max-width: 1350px) {
    #socialPanel {
        padding-top: 60px;
        padding-bottom: 100px;
        width: 97%;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
}

#socialPanel #chatRoomsCard {
    float: left;
    width: 30%;
    height: 500px;
    position: relative;
    -webkit-perspective: 1000px; /* Safari 4-8 */
    perspective: 1000px;
}

@media(max-width: 1350px) {
    #socialPanel #chatRoomsCard {
        width: 48%;
    }
}

@media(max-width: 950px) {
    #socialPanel #chatRoomsCard {
        width: 90%;
        margin-left: 5%;
        height: 330px;
    }
}

#socialPanel #chatRoomsCard .cardFront {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 12px 12px 12px 12px;
    height: 500px;
}

@media(max-width: 950px) {
    #socialPanel #chatRoomsCard .cardFront {
        height: 330px;
    }
}

#socialPanel #chatRoomsCard .cardBack {
    height: 500px;
    display: none;
}

@media(max-width: 950px) {
    #socialPanel #chatRoomsCard .cardBack {
        height: 330px;
    }
}

#socialPanel #chatRoomsCard.activate > .cardFront {
    display: inline;
    animation-name: tiltClockwise;
    animation-delay: 0.3s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#socialPanel #playersCard {
    width: 21%;
    height: 500px;
    position: relative;
    float: left;
    -webkit-perspective: 2000px; /* Safari 4-8 */
    perspective: 2000px;
}

@media(max-width: 1350px) {
    #socialPanel #playersCard {
        width: 35%;
    }
}

@media(max-width: 950px) {
    #socialPanel #playersCard {
        width: 47%;
        margin-top: 100px;
        margin-left: 3%;
        height: 260px;
        -webkit-perspective: 1000px; /* Safari 4-8 */
        perspective: 1000px;
    }
}

#socialPanel #playersCard .cardFront {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 12px 12px 12px 12px;
    height: 500px;
}

@media(max-width: 950px) {
    #socialPanel #playersCard .cardFront {
        height: 260px;
    }
}

#socialPanel #playersCard .cardBack {
    height: 500px;
    display: none;
}

@media(max-width: 950px) {
    #socialPanel #playersCard .cardBack {
        height: 260px;
    }
}


@media(max-width: 1350px) {
    #socialPanel #playersCard.activate > .cardFront {
        display: inline;
        animation-name: tiltAntiClockwise;
        animation-delay: 0.3s;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
    }
}

#socialPanel #profileCard {
    width: 44%;
    height: 750px;
    position: relative;
    float: left;
    -webkit-perspective: 1000px; /* Safari 4-8 */
    perspective: 1000px;
}

@media(max-width: 1350px) {
    #socialPanel #profileCard {
        width: 50%;
        margin-left: 2%;
        margin-top: 120px;
        height: 550px;
    }
}

@media(max-width: 950px) {
    #socialPanel #profileCard {
        width: 90%;
        margin-left: 5%;
        margin-top: 120px;
    }
}

#socialPanel #profileCard .cardFront {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 12px 12px 12px 12px;
    height: 750px;
}

@media(max-width: 1350px) {
    #socialPanel #profileCard .cardFront {
        height: 550px;
    }
}

#socialPanel #profileCard .cardBack {
    height: 750px;
    display: none
}

@media(max-width: 1350px) {
    #socialPanel #profileCard .cardBack {
        height: 550px;
    }
}

#socialPanel #profileCard.activate > .cardFront {
    display: inline;
    animation-name: tiltAntiClockwise;
    animation-delay: 0.3s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@media(max-width: 950px) {
    #socialPanel #profileCard.activate > .cardFront {
        display: inline;
        animation-name: tiltClockwise;
        animation-delay: 0.3s;
        animation-duration: 0.7s;
        animation-fill-mode: forwards;
    }
}

#socialPanel .panel1 {
    display: inline-block;
    width: 100%;
}

@media (max-width: 600px) {
    #socialPanel .panel1 .button1 {
        margin-left: 0px;
    }
}

#socialPanel .panel1 .subTitle {
    float: left;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 3px;
    font-size: 1.3em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(255, 255, 255, 0.7);
}

@media(max-width: 600px) {
    #socialPanel .panel1 .subTitle {
        font-size: 1.1em;
    }
}

#socialPanel .panel1 .button1 {
    height: 50px;
    float: left;
    line-height: 50px;
    margin-left: 27px;
    padding-left: 8px;
    padding-right: 8px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
}

#socialPanel .panel1 .button1:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

#socialPanel .panel2 {
    display: inline-block;
    width: 100%;
}

#chatRoomsPanel {
    width: 100%;
    height: 430px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow-y: scroll;
}

@media(max-width: 950px) {
    #chatRoomsPanel {
        height: 270px;
    }
}

#chatRoomsPanel .item {
    display: inline-block;
    height: 50px;
    line-height: 60px;
    width: 100%;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

#chatRoomsPanel .item:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

#chatRoomsPanel .item div {
    float: left;
    margin-right: 10px;
}

#onlinePlayersPanel {
    width: 100%;
    padding-left: 5px;
    overflow-y: scroll;
    height: 430px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.1em;
}

@media(max-width: 950px) {
    #onlinePlayersPanel {
        height: 210px;
    }
}

#chatsNavbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 55px;
    overflow: auto;
    white-space: nowrap;
}

#chatsNavbar .item  {
    height: 100%;
    display: inline-block;
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.2em;
    line-height: 55px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgba(168, 168, 168, 0.96);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(84, 84, 84, 0.8);
}

#chatsNavbar .item:hover {
    cursor: pointer;
    background-color: rgba(72, 72, 72, 0.8);
}

#currentChatsPanel .card {
    width: 45%;
    position: fixed;
    bottom: 56px;
    height: 55%;
    display: none;
    -webkit-perspective: 900px; /* Safari 4-8 */
    perspective: 900px;
}

@media(max-width: 950px) {
    #currentChatsPanel .card {
        height: 75%;
        width: 70%;
    }
}

#currentChatsPanel .cardFront {
    background-color: rgba(168, 168, 168, 0.95);
    padding: 12px 12px 12px 12px;
    display: none;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(168, 168, 168, 0.96);
}

#currentChatsPanel .cardBack {
    display: none;
}

#currentChatsPanel .card.activate {
    display: inline;
}

#currentChatsPanel .card.activate > .cardBack {
    display: inline;
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#currentChatsPanel .card.activate > .cardFront {
    transform: rotateY(90deg);
    display: inline;
    animation-name: activateAnimationPart2;
    animation-delay: 0.7s;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#currentChatsPanel .card.deactivate > .cardBack {
    display: inline;
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#currentChatsPanel .card.deactivate  {
    display: inline;
    animation-name: activateAnimationPart1;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

#currentChatsPanel .card.deactivate > .cardFront {
    display: none;
}

#currentChatsPanel .panel1 {
    height: 14%;
    width: 100%;
}

#currentChatsPanel .panel1 .subTitle {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.95);
}

#currentChatsPanel .panel2 {
    height: 76%;
    width: 100%;
    display: inline-block;
}

#currentChatsPanel .panel2 .item1 {
    float: left;
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.2em;
}

#currentChatsPanel .panel2 .item1 > div {
    width: 100%;
    display: inline-block;
}

#currentChatsPanel .panel2 .item1 > div .itemLabel1 {
    float: left;
}

#currentChatsPanel .panel2 .item1 > div .itemLabel2 {
    padding-left: 6px;
    float: left;
}

#currentChatsPanel .panel2 .item2 {
    float: left;
    width: 28%;
    height: 100%;
    margin-left: 2%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.2em;
}

#currentChatsPanel .panel3 {
    height: 10%;
    display: inline-block;
    width: 100%;
}

#currentChatsPanel .panel3 input {
    float: left;
    width: 69%;
    color: rgba(240, 240, 240, 0.8);
    background-color: rgba(168, 168, 168, 0.95);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 1);
    height: 100%;
    font-size: 1.2em;
}

#currentChatsPanel .panel3 .button1 {
    float: left;
    height: 100%;
    width: 30%;
    color: rgba(240, 240, 240, 0.95);
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#currentChatsPanel .panel3 .button1:hover {
    background-color: rgba(84, 84, 84, 0.8);
}