[Unit]
Description=CallCheatOnline UI Server

[Service]
WorkingDirectory=/home/projects/TaccomStrike/src/CallCheatOnline.Web.UI
ExecStart=/usr/bin/node /home/projects/TaccomStrike/src/CallCheatOnline.Web.UI/app.js 60239
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=callcheatonline_uiserver
User=root

[Install]
WantedBy=multi-user.target