@model AvaNet.Models.GameLore

<form asp-action="Edit" asp-controller="GameLores" asp-route-id="@Model.GameLoreID">
    <input name="Title"/>
    <input name="Content" />
    <input name="ImageURL" />
</form>